img{
  position: absolute;
  right: 10px;
  top: 180px;
  border-radius: 50%;
  margin-left:50px;
  float: right;
}
h1{
  font-size: 45px;
  border: 0px 0px 0px 5px solid black;
}
.text{
  text-align: left;
  clear: right;
  font-size: 15px;
}
button{
  background-color: blue;
  color:white;
  border: 5px white;
  
}
.pb1{
  
}
.include{
  text-align: left;
}
ul{
  border: 2px blue;
  margin: 2px;
  padding: 5px;
}
 .box{
      width: 30px;
      height: 30px;
      border: 2px solid white;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 20px;
      background-color: blue;
      color: white;
  }
  .item{
  display: flex;
  align-items: center;
  margin: 40px 0;
  z-index: 1;
  }
  .line {
      position: absolute;
      width: 2px;
      background-color: blue;
      top: 650px;
      bottom: -155px;
      left: 24px;
      z-index: -1;
  }

  
